global
    log stdout format raw local0

defaults
    mode http
    log global
    option httplog
    option dontlognull
    timeout connect 5s
    timeout client 30s
    timeout server 30s

frontend http
    bind *:8080
    default_backend stock_market

backend stock_market
    balance roundrobin
    option httpchk GET /actuator/health
    http-check expect status 200
    server app1 app-1:8080 check
    server app2 app-2:8080 check
    server app3 app-3:8080 check
